* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #7FA9C7;
  --typography: #3C5B5F;
  --background: #ECEBE7;

  font-size: 62.5%;
  /* 1rem = 10px */
}

*::selection {
  background-color: var(--typography);
  color: var(--background);
}

body {
  font-size: 2rem;
  font-family: Manrope;
}

.logo{
  padding: 3rem 1.2rem 0 0.5rem;
}
.logo h2 {
  color: rgb(48, 101, 101);
}

.search {
  position: relative;
  width: 60%;
  justify-self: center;
  display: flex;
}

.search input {
  width: 100%;
  height: 40px;
  padding: 0 40px;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.search i {
  position: relative;
  right: 30px;
  top: 15px;
  cursor: pointer;
}

.user {
  position: relative;
  width: 50px;
  height: 50px;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-left: 70rem;
  object-fit: cover;
}

/* .sidebar */
.sidebar {
  position: fixed;
  width: 260px;
  height: calc(100% - 60px);
  background-color: var(--background);
  overflow-x: hidden;
  border-right: 0.8px solid var(--main-color);
  
  
}

.menu{
  display: flex;
  flex-direction: column;
  padding-top: 3.2rem;
}

.menu .menu-item{
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: var(--typography);
  cursor: pointer;
  opacity: 0.7;
  transition: all .3s ease-out;
  padding-left: 2rem;
  padding: 1.2rem 0 1.2rem 1.2rem;
}

.menu .menu-item.selected {
  background-color: var(--main-color);
  color: var(--background);
}

.menu .menu-item.selected path {
  fill: var(--background);
}

.menu .menu-item:hover{
  opacity: 1;
}

.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  width: 100%;
  list-style: none;
}

.sidebar ul li a {
  width: 100%;
  text-decoration: none;
  color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
}

.sidebar ul li a i {
  min-width: 60px;
  font-size: 24px;
  text-align: center;
}
.home_sidebar{
  margin-top: 6rem;
}

/* main */
.main {
  position: absolute;
  /* top: 60px; */
  width: calc(100% - 260px);
  left: 260px;
  min-height: calc(100vh - 60px);
  background-color: var(--background);
}

.cards {
  width: 100%;
  padding: 35px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.cards-side-bar{
  display:flex;
  gap: 25rem;
}
.cards-data{
  display: flex;
  gap: 2rem;
}
.data-calendario{
  display: flex;
  gap: 1rem;
}

.cards .card {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);

}
.titulo_metrica{
  font-weight: 700;
}

@keyframes blink {
  from {
    opacity: 1;
    /* Inicialmente visível */
  }

  to {
    opacity: 0.5;
    /* Torna-se invisível */
  }
}

.number1 {
  font-size: 35px;
  font-weight: 500;
  color: rgb(0, 103, 162);
}

.number2 {
  font-size: 35px;
  font-weight: 500;
  color: rgb(232, 252, 4);
}

.number3 {
  font-size: 35px;
  font-weight: 500;
  color: rgb(16, 255, 4);
}

.number4 {
  font-size: 35px;
  font-weight: 500;
  color: rgb(250, 0, 0);
}


.card-name {
  color: #551818;
  font-weight: 600;
}

/* chart.js */
.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  width: 100%;
  padding: 20px;
  padding-top: 0;
  color: #000000;
  font-weight: 600;
}

.chart {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}

.sair {
  display: flex;
  margin-top: 20rem;
}

.container-analytics {
  align-items: center;
  justify-content: center;
  display: flex;
}

@keyframes piscar {
  0% {
    opacity: 1;
  }

  /* Opacidade total */
  50% {
    opacity: 0.5;
  }

  /* Opacidade zero */
  100% {
    opacity: 1;
  }

  /* Opacidade total */
}

.btnF1 {
  background-color: rgb(170, 193, 228);
  padding: 10px 24px;
  border-color: yellow;
  cursor: pointer;
  font-family: 'Dosis', 'sans-serif';
  font-weight: bold;
  animation: piscar 1s infinite;
}

.btnF2 {
  background-color: rgb(94, 134, 196);
  padding: 10px 24px;
  border-color: yellow;
  cursor: pointer;
  font-family: 'Dosis', 'sans-serif';
  font-weight: bold;
}

.btnF3 {
  background-color: rgb(16, 71, 153);
  padding: 10px 24px;
  border-color: yellow;
  cursor: pointer;
  font-family: 'Dosis', 'sans-serif';
  font-weight: bold;
}

.btnI {
  background-color: green;
  padding: 10px 24px;
  border-color: yellow;
  cursor: pointer;
  font-family: 'Dosis', 'sans-serif';
  font-weight: bold;
}

.btnQ3 {
  background-color: rgb(235, 235, 19);
  padding: 10px 24px;
  border-color: yellow;
  cursor: pointer;
  font-family: 'Dosis', 'sans-serif';
  font-weight: bold;
}

.btnQ2 {
  background-color: orange;
  padding: 10px 24px;
  border-color: yellow;
  cursor: pointer;
  font-family: 'Dosis', 'sans-serif';
  font-weight: bold;
}

.btnQ1 {
  background-color: red;
  padding: 10px 24px;
  border-color: yellow;
  cursor: pointer;
  font-family: 'Dosis', 'sans-serif';
  font-weight: bold;
  animation: piscar 1s infinite;
}

.btnUF1 {
  background-color: rgb(170, 193, 228);
  padding: 10px 24px;
  border-color: yellow;
  cursor: pointer;
  font-family: 'Dosis', 'sans-serif';
  font-weight: bold;
}

.btnUF2 {
  background-color: rgb(94, 134, 196);
  padding: 10px 24px;
  border-color: yellow;
  cursor: pointer;
  font-family: 'Dosis', 'sans-serif';
  font-weight: bold;
}

.btnUF3 {
  background-color: rgb(16, 71, 153);
  padding: 10px 24px;
  border-color: yellow;
  cursor: pointer;
  font-family: 'Dosis', 'sans-serif';
  font-weight: bold;
}

.btnUI {
  background-color: green;
  padding: 10px 24px;
  border-color: yellow;
  cursor: pointer;
  font-family: 'Dosis', 'sans-serif';
  font-weight: bold;
}

.btnUQ3 {
  background-color: yellow;
  padding: 10px 24px;
  border-color: yellow;
  cursor: pointer;
  font-family: 'Dosis', 'sans-serif';
  font-weight: bold;
}

.btnUQ2 {
  background-color: orange;
  padding: 10px 24px;
  border-color: yellow;
  cursor: pointer;
  font-family: 'Dosis', 'sans-serif';
  font-weight: bold;
}

.btnUQ1 {
  background-color: red;
  padding: 10px 24px;
  border-color: yellow;
  cursor: pointer;
  font-family: 'Dosis', 'sans-serif';
  font-weight: bold;
}